<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#news">News</a>
        
    </div>
        <div class="sign-in-container">
            <h3>Sign In:</h3>
            <%if (error) { %>
                <h3><%= error %></h3>
              <% } %>
            <form action="/auth/post-sign-in" method="POST">
            <div>
              <label for="userName">User Name:</label>
              <input id="userName" name="username" type="text">
            </div>
            <div>
              <label for="password">Pass word:</label>
              <input id="password" name="password" type="password">
            </div>
            <div>   
              <button class="btn-sign-in" type="submit">Sign In</button>
            </div>
          </form>
          <button type="button">
            <a href="/auth/sign-up" >Sign Up</a>
        </button>
        </div>
</body>
</html>